canvas {
    padding: 0;
    margin: auto;
    display: block;
    margin-top: 100px;

}


#startGame {
  width: 1200px;
  height: 600px;
  margin: auto;
  margin-top: 100px;
  background-image: url("../img/play.jpg");
  background-size: cover;
  background-position: center;

}

section.press button {
  color: #fff;
  background-color: #6496c8;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px #27496d;
  width: 300px;
  height: 50px;
  font-size: 22px;
  font-weight: bolder;
  margin-left: 250px;
  margin-top: 50px;
}

#play {
  margin-top: 250px;
}

section.press button:hover,
section.press button.hover {
  background-color: #417cb8
}

.blurred {
   filter: blur(10px);
}

.score {
  display: block;
  position: absolute;
  top: 90px; left:150px;

}

#final-score {
  width: 1200px;
  height: 600px;
  display: none;
  margin: auto;
  margin-top: 100px;
  background-image: url("../img/play.jpg");
  background-size: cover;
  background-position: center;
}

#final-score h1, #final-score h2 {
  color: white;

}

#final-score h1 {
  margin-left: 200px;
  padding-top: 120px;
  font-size: 70px;
}

#final-score h2 {
  margin-left: 210px;
  font-size: 40px;
}
