<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game</title>
    <script type="text/javascript" src="../js/lib/jquery-3.2.1.slim.min.js">  </script>
    <script type="text/javascript" src="../js/src/model/maps/Map.js"></script>
    <script type="text/javascript" src="../js/src/model/maps/Lvl1.js"></script>
    <script type="text/javascript" src="../js/src/model/maps/Lvl2.js"></script>
    <script type="text/javascript" src="../js/src/model/Bullet.js"></script>
    <script type="text/javascript" src="../js/src/model/Player.js"></script>
    <script type="text/javascript" src="../js/src/model/RatBoss.js"></script>
    <script type="text/javascript" src="../js/src/model/obstacles/Obstacle.js"></script>
    <script type="text/javascript" src="../js/src/model/obstacles/Spikes.js"></script>
    <script type="text/javascript" src="../js/src/model/Game.js"></script>
    <script type="text/javascript" src="../js/src/view/main.js"></script>


    <link rel="stylesheet" type="text/css" href="../css/main.css">
  </head>
  <body>
    <div id="divContainer">

      <canvas></canvas>
    </div>
    <div id="pause" class="score"><h1>Tries: <span></span></h1></div>
    <div id="final-score"><h1>You WON!</h1><br><h2>Tries: <span></span></h2></div>
  </div>
  <script>

  </script>
  </body>
</html>
